

/* 1st section */
.first{
    width: 80%;
    height: 60vh;

    margin-left: calc(20vw/2);
    padding: 1vh 2.5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    border-bottom: 1px solid var(--b-gray)
}

.first .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first h1{
    font-weight: 600;
}

.first span{
    font-weight: 700;
}

.first span{
    color: var(--green)
}

.first p{
    width: 60%;

    color: #797c84;
}

.first img{
    width: 50%;
}

/* 1st section end */

/* 2nd section */
.second{
    width: 80%;
    height: 70vh;

    margin-left: 10vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.second img{
    width: 50%;
}

.second .text{
    width: 50%;

    text-align: center;
}

.second h1{
    font-weight: 600;
}

.second span{
    color: var(--green);

    font-weight: 700;
}

.second p{
    width: 80%;
    margin-left: 10%;
}

.second button{
    width: 15vw;
    height: 6vh;

    margin-top: 4vh;

    font-size: larger;
    font-weight: 600;

    border-radius: 50vw;
    border: 1px solid var(--b-gray);

    background-color: var(--green);
    color: var(--white)
}

.second button:hover{
    background-color: #8fb994;
}
/* 2nd section end */

/* feed */

.article-container {
    width: 100%;
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 20px auto; /* Центрирование контейнера по горизонтали */
    overflow: hidden; /* Используется для контроля высоты контейнера */
    box-sizing: border-box;
    padding: 0 10px;
}

.article {
    width: calc(50% - 20px); /* Ширина каждой статьи (50% ширины контейнера минус отступы) */
    float: left; /* Размещение статей в ряд слева направо */
    margin-right: 40px; /* Отступ между статьями */
    margin-bottom: 20px; /* Отступ снизу каждой статьи */
}

.article:last-child {
    margin-right: 0; /* Убираем правый отступ для последней статьи */
}

.article-image {
    max-width: 100%; /* Изображение не будет превышать ширину своего родительского элемента */
    border-radius: 10px; /* Скругление углов изображения */
}

.article-content {
    padding: 20px;
    border: 2px solid var(--black); /* Цвет рамки */
    border-radius: 10px; /* Скругление углов контейнера */
    background-color: var(--white);
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--black); /* Цвет заголовка */
}
  
.publication-date {
    font-style: italic;
    color: var(--green); /* Цвет даты */
    margin-bottom: 1vh;
}
  
.article-content p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--black);
}  

/* feed end */

/* help */

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}

.help_text {
    flex: 1;
    padding: 20px;
}

.help_text h2 {
    padding-bottom: 10px;
}

.help_text ul {
    margin-top: 10px;
    padding-left: 20px;
}

.goto {
    background-color: #f0f0f0;
    border-radius: 10px;
    border: black solid 1px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.goto h3 {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--black);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #8fb994;
}

/* help end */

@media (max-width: 1280px) {
    .second button{
        width: 25vw;
    }
}

@media (max-width:  720px) {
    .first{
        height: 80vh;

        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .first img{
        width: 100vw;
    }

    .second{
        height: 80vh;

        flex-direction: column;
        justify-content: space-evenly;
    }

    .second img{
        width: 100%;
    }

    .second .text{
        width: 100%;
    }

    .second button{
        width: 50%;
    }

    .article {
        width: 100%; /* Ширина каждой статьи равна 100% ширины контейнера */
        float: none; /* Отменяем свойство float */
        margin-right: 0; /* Отменяем правый отступ */
    }

    .container {
        flex-direction: column;
        text-align: center;
    }
    
    .image {
        order: -1;
    }

    .help_text {
        padding: 20px;
    }

    .help_text ul {
        text-align: left;
    }

    .goto {
        margin: 10px;
        max-width: calc(100% - 20px);
    }
}

@media (max-width: 540px) {
    .second button{
        width: 70vw;
    }
}

@media (max-height: 900px) {
    .first .text p{
        width: 90vw;
    }
}

@media (max-height: 800px) {
    .first .text p{
        width: 90vw;
    }

    .second .text p{
        display: none;
    }
}